<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Note List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="note : ${notes}">
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td>

                <a class="btn btn-primary" th:href="@{/note/edit(id=${note.id})}">Edit</a>

                <form method="post" th:action="@{/note/delete/{id}(id=${note.id})}" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" href="/note/create">Create</a>
</div>
</body>
</html>

